@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-color: #0099FF;
  --btn-red: #DC3545;
  --action-btn-color: #18535f;
  --secondary-color: #18535f;
  --badge-color: #d7dbe9;
  --button-hover-color: #667085;
}

body {
  min-height: 100vh;
  word-break: break-all;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  ;
}

body :focus:not(:focus-visible) {
  outline: none;
}

body :focus-visible {
  outline: none;
}

body :focus:not(:focus-within) {
  outline: none;
}

body :focus-within {
  outline: none;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

.form-controls {
  @apply bg-gray-50 border border-brand-color text-gray-900 sm:text-sm hover:bg-gray-100 block w-full p-2 rounded;
}

.form-controls-error {
  @apply bg-gray-50 border border-red-500 text-gray-900 sm:text-sm hover:bg-gray-100 block w-full p-2 rounded;
}

.search-form-controls {
  @apply bg-gray-50 border border-brand-color text-gray-900 text-lg rounded-lg block w-full p-4 hover:shadow hover:bg-gray-100
}

.common-auth-section-class {
  @apply mx-auto lg:w-2/5 md:w-1/2 sm:w-3/5 w-11/12 border md:p-8 p-4 shadow rounded-lg
}

.custom-action-button-class {
  @apply px-4 py-1 min-h-8 h-10 font-normal
}

.custom-badge-class {
  @apply bg-[var(--badge-color)] px-4 py-2 max-w-fit rounded-full text-black min-w-fit cursor-pointer
}


.custom-select-dropdown {
  border-color: var(--brand-color) !important;
  border-radius: 4px !important;
  @apply bg-gray-50 border text-gray-900 sm:text-sm rounded block w-full p-4 hover:shadow hover:bg-gray-100 h-8
}

.custom-select-dropdown:focus-visible {
  outline: none !important;
  border-color: var(--brand-color) !important;
  box-shadow: none !important;
}

.custom-select-dropdown:focus-within {
  outline: none !important;
  border-color: var(--brand-color) !important;
  box-shadow: none !important;
}

.selected-text {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.react-dropdown-select-content {
  @apply text-base
}

.react-dropdown-select-dropdown {
  width: 100% !important;
}

.nav-link-class {
  @apply py-2 cursor-pointer w-full text-center
}

.btn:hover {
  @apply bg-[var(--button-hover-color)]
}

.common-section {
  @apply lg:px-32 px-4
}

.custom-h2-class {
  @apply text-xl font-bold
}

.active-badge-class {
  @apply bg-neutral text-neutral-content
}

.custom-range-class {
  @apply range [--range-shdw:var(--brand-color)]
}

.custom-prize-color {
  @apply text-green-500
}

.custom-common-header-class {
  @apply bg-[var(--secondary-color)] text-white px-4 py-2 rounded-t-md
}

.custom-common-header-detail-class {
  @apply w-full bg-gray-100 border border-t-2 shadow
}