.slick-slide {
  /* padding: 10px; */
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 26px;
  line-height: 1;
  color: var(--brand-color) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slides-container .slick-slider .arrow-icon {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
}

.slick-slide img {
  transition: none !important;
}

.slick-track {
  display: flex;
  gap: 10px;
  width: 100%;
}
